html{
    background-color: rgb(44, 44, 44);
    
    
}

.flexcontainer{
    display: flex;
    background-color: rgb(10, 10, 10);
    color: rgb(255, 255, 255);;
    justify-content: space-evenly;
    text-align: center;
    
    
   
        
}

 .container1 p{
    background-color:  rgb(10, 10, 10);
    color: rgb(255, 255, 255);
    padding: 10px;
 
    font-size: 1.62vw;
}

.container2 p{
   
    background-color:  rgb(10, 10, 10);
    color: rgb(255, 255, 255);
    padding: 10px;
 
    font-size: 1.62vw;
        
}
.container3 p{
    background-color:  rgb(10, 10, 10);
    color: rgb(255, 255, 255);
    padding: 10px;
 
    font-size: 1.62vw;
    
}






.container{
    display: grid;
    grid-template-columns: repeat(5, 20%);
    grid-template-rows: auto;
    background-color: white;
    


}


.photo{
    grid-column: 1/5;
    grid-row: 1/5;
    
    
}
#head{
    color: white;
    text-align: center;
    font-size: 50px;
    text-shadow: black 10px 2px;

}

#dev{
    color: rgb(255, 200, 0);
    text-align: center;
    font-size: 25px;
    text-shadow: black 10px 2px;

}

#accordion{
    color: rgb(39, 39, 39);
    text-align: left;
    padding: 20px;
    background-color: rgb(255, 200, 0);
}
#date {
    height: 200px;
    padding-top:10px;
}
#data{
    padding-top: 35px;
}
#datePicker{
    color: white;
    
}
#list{
    float: left;
    color: rgb(255, 200, 0) ;
}


#ui-datepicker-div{
    color: black;
}

tr{
    color: rgb(255, 200, 0) ;
    background-color: black;
    float: bottom;
}
